@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
}

:root {
  /* --button-color: hsl(197, 91%, 31%); */
  --button-color: hsl(256, 44%, 43%);
  --navbar-color: hsl(256, 44%, 43%);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  background-color: var(--navbar-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

nav h4 {
  font-weight: bold;
}

.hide {
  display: none !important;
}

.score-container {
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  border-radius: 1em;
  box-shadow: 0 0 02px;
  padding: 1em;
}

p {
  text-align: center;
  margin-bottom: 1.5rem;
  width: inherit;
  max-width: 400px;
  font-size: 18px;
  font-weight: bold;
}

.start-page,
.option-container,
.end-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  max-width: 500x;
}

.end-page {
  padding: 10px 0;
}

.end-page h1 {
  margin: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.btn {
  width: 80%;
  max-width: 300px;
  font-size: 16px;
  /* padding: 5px; */
  height: 2.5rem;
  margin: 0 0 20px;
  background-color: var(--button-color);
  color: #fff;
  border-radius: 8px;
  outline: none;
  border: none;
}

.start-btn {
  margin: 1rem 0 0;
}

.next-btn {
  width: max-content;
  padding: 5px 20px;
  /* margin-bottom: 0; */
}

.end-page-buttons {
  display: flex;
}

#start-btn,
#restart-btn,
#end-btn {
  width: max-content;
  padding: 5px 10px;
}

#restart-btn,
#end-btn {
  display: flex;
  margin: 0 10px;
}

.correct {
  background-color: rgb(0, 180, 0);
  color: #fff;
}

.wrong {
  background-color: rgb(180, 0, 0);
  color: #fff;
}

.clicked {
  pointer-events: none;
}

@media (max-height: 500px) {
  body {
    height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p.score-container {
    margin: 130px 0 16px;
  }
  .container {
    margin: 0 0 16px;
    /* display: none; */
  }
}

@media (max-height: 400px) {
  body {
    height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p.score-container {
    margin: 200px 0 16px;
  }
  .container {
    margin: 0 0 16px;
  }
}

@media (max-height: 320px) {
  body {
    height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p.score-container {
    margin: 15rem 0 16px;
  }
  .container {
    margin: 0 0 16px;
  }
}
